<div class="flex-col signup">
<i class="fa-sharp fa-solid fa-user-plus text-3xl text-center green"></i>
<h2 class="h2">Register</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field mt-3">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Username', class: 'input-mid' %>
  </div>
  <div class="field mt-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'input-mid'  %>
  </div>
  <div class="field mt-3">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum for password)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'input-mid'  %>
  </div>
  <div class="field mt-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation', class: 'input-mid'  %>
  </div>
  <div class="actions mt-3">
    <%= f.submit "Sign up", data: { turbo: false }, class: 'btn-mid' %>
  </div>
<div>
<% end %>
<%= render "devise/shared/links" %>
