  <h1 class="h2"> Transactions
  </h1>
  <span>
  <%= link_to 'Back' , groups_path, class: 'btn-mini back-btn' %>
</span>
<div class="categories-container">
<div class="flex flex-col">
<% @entities.each do |entity| %>
  <div class="category">
      <span class="item"><%= entity.name %></span>
      <span class="text item">$<%= entity.amount%></span>
    <div class="btns">
      <div class="btn-edit btn-mini"> <%= link_to "Edit", edit_group_entity_path(@group, entity), class: 'txt-white' %> <i class="fa-solid fa-pen-to-square"></i> </div>
      <div class="btn-delete btn-mini">
      <%= link_to "Delete", group_entity_path(@group, entity), class: 'txt-white', data:  { turbo_method: :delete } %> <i class="fa-solid fa-trash"></i> </div>
    </div>
  </div>
<% end %>
</div>
<div class="flex justify-center img-div">
<%= image_tag 'transaction.png'%>
</div>
</div>
<div class="fixed bottom-0 left-0 right-0 sm:mx-20 py-8 flex">
  <%= link_to 'New Transaction', new_group_entity_path(@group) ,  class: 'btn-main w-full bg-second focus:bg-green-500 hover:bg-lightgreen-700 text-white py-2 px-4 text-center font-semibold' %>
</div>
