<div class="signup">
  <span><%= link_to 'Back', group_entities_path, class: 'back-btn btn-mini' %></span>
  <h1 class="h2">Create Transaction here.</h1>
  <%= form_with model: @entity, url: group_entities_path do |form| %>
    <div>
      <%= form.label :name , "Name", class: 'text' %>
      <%= form.text_field :name, class: 'input-mid', required: true  %>
    </div>
    <div>
      <%= form.label :amount , "Price" , class: 'text' %>
      <%= form.text_field :amount, class: 'input-mid', required: true  %>
    </div>
    <%= form.submit "Save", class: 'btn-main' %>
  <% end %>
</div>
