<div class="signup">
  <h1 class="h2">Edit your Category here.</h1>
  <%= form_with model: @group, url: group_path(@group), method: :PATCH do |form| %>
    <div>
      <%= form.label :name , "Name", class: 'text' %>
      <%= form.text_field :name, class: 'input-mid' %>
    </div>
    <div>
      <%= form.label :icon , "Avatar" , class: 'text' %>
      <%= form.text_field :icon, class: 'input-mid' %>
      <span class="text" style="font-size:14px;">You can use any image url here!.</span>
    </div>
    <%= form.submit "Post", class: 'btn-main' %>
  <% end %>
</div>
