<h1 class="h2">Categories</h1>
<div class="categories-container">
<div class="flex flex-col w-1/2 md-100">
  <% @groups.each do |group| %>
    <div class="category">
      <div class="category-details">
        <%= image_tag group.icon, class: 'avatar icon' %>
        <span class="item">
          <%= link_to group.name, group_entities_path(group), class: 'text' %>
        </span>
        <span class="text item">
          $<%= group.entities.reduce(0) { |sum, e| sum + e.amount } %>
        </span>
      </div>
      <div class="flex gap-2">
        <div class="btn-edit btn-mini"> <%= link_to "Edit", edit_group_path(group), class: 'txt-white' %> <i class="fa-solid fa-pen-to-square"></i> </div>
        <div class="btn-delete btn-mini"><%= link_to "Delete", group_path(group), class:'txt-white', data:  { turbo_method: :delete } %> <i class="fa-solid fa-trash"></i> </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="img-div">
  <%= image_tag 'categories.png', class: 'img'%>
  </div>
</div>
<div class="btn-div">
  <%= link_to 'New Category', new_group_path ,  class: 'btn-main' %>
</div>
