<div class="signup">
  <span><%= link_to 'Back', groups_path, class:'back-btn btn-mini' %></span>
  <h1 class="green">Create your Category here.</h1>
  <%= form_with model: @group, url: groups_path do |form| %>
    <div>
      <%= form.label :name , "Name", class: 'text' %>
      <%= form.text_field :name, class: 'input-mid', required: true %>
    </div>
    <div>
      <%= form.label :icon , "Avatar" , class: 'text' %>
      <%= form.text_field :icon, class: 'input-mid', required: true  %>
      <span class="text" style="font-size:14px;">You can use any image url here!.</span>
    </div>
    <%= form.submit "Save", class: 'btn-main' %>
  <% end %>
</div>
